@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
html {
  overflow-y: auto !important;
  scroll-behavior: smooth;
  // top: 0 !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  word-break: break-word;
  word-wrap: break-word;
  white-space: normal;
}

.v-navigation-drawer__scrim {
  position: fixed !important;
}

*:not(
    .overlay-bar,
    .overlay-rap,
    .generic__mount__domain,
    .preventDefaultTransition,
    .preventDefaultTransition *:not(.preventPreventDefaultTransition, .preventPreventDefaultTransition > *)
  ) {
  transition: all 500ms;
  scroll-behavior: smooth;
}

:root {
  --primary_color: #0062ff;
  --success_color: #34c759;
  --success_color2: #deffe6;
  --success_color3: #25b925;
  --success_color4: #e9faf7;
  --success_color5: #1a9882;
  --success_color6: #abefc6;
  --success_color7: #ecfdf3;
  --success_color8: #067647;
  --success_color9: #17b26a;
  --danger_color: #e53a3a;
  --danger_color2: #f1665e;
  --danger_color3: #ff3b30;
  --danger_color4: #ffdcda;
  --danger_color5: #d92d20;
  --danger_color6: #fee4e2;
  --danger_color7: #feecee;
  --danger_color8: #eb3d4d;
  --danger_color9: #b42318;
  --danger_color10: #f04438;

  --bg_color: #f8f7f8;
  --bg_color2: #292d32;
  --bg_color3: #f1edef;
  --bg_color4: #a48c9f;
  --bg_color5: #0c111d;
  --bg_color6: #f8e38e;
  --bg_color7: #ffe2e2;
  --bg_color8: #fcfaf9;
  --bg_color9: #c3b7bf;
  --bg_color10: #f3e7e2;
  --bg_color11: #f4f1e9;
  --bg_color12: #ffcc00;
  --bg_color13: #f9fafb;
  --bg_color14: #4a4e5a;
  --bg_color15: #e0fcff;
  --bg_color16: #98a2b3;
  --bg_color17: #928654;
  --bg_color18: #fffae5;
  --bg_color19: #f2f4f7;
  --bg_color20: #f8e38e40;
  --bg_color21: #f3f4f6;
  --bg_color22: #fffaeb;
  --bg_color23: #fffaf8;
  --bg_color24: #d9d9d9;
  --bg_color25: #eaf8ff;
  --bg_color26: #fef3f2;

  --border_color: #dbdfe5;
  --border_color2: #e0d7de;
  --border_color3: #a6a6a6;
  --border_color4: #f2f2f2;
  --border_color5: #e4e7ec;
  --border_color6: #b3b3b3;
  --border_color7: #71586b;
  --border_color8: #f3f3f3;
  --border_color9: #d0d5dd;
  --border_color10: #2e5565;
  --border_color11: #ead682;
  --border_color12: #fedf89;
  --border_color13: #e5e7eb;
  --border_color14: #8ad5ff;
  --border_color15: #fecdca;

  --scrim: #201a1e66;

  --text_light: #fff;
  --text_dark: #71586b;
  --text_dark2: #433740;
  --text_dark3: #201a1e;
  --text_dark4: #7b6f77;
  --text_dark5: #6a5563;
  --text_dark6: #01202d;
  --text_dark7: #b59eae;
  --text_dark8: #7f56d9;
  --text_dark9: #475467;
  --text_dark10: #f5f5f6;
  --text_dark11: #cecfd2;
  --text_dark12: #101828;
  --text_dark13: #71586b;
  --text_dark14: #344054;
  --text_dark15: #667085;
  --text_dark16: #050505;
  --text_dark17: #ffd730;
  --text_dark18: #182230;
  --text_dark19: #374151;
  --text_dark20: #b54708;
  --text_dark21: #2b2633;
  --text_dark22: #777980;
  --text_dark23: #2bb2fe;

  --text_xs: 1.2rem;
  --text_sm: 1.4rem;
  --text_md: 1.6rem;
  --text_lg: 1.8rem;
  --text_xl: 2rem;
  --text_p: 2.4rem;

  font-size: 62.5%;
}

::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

:not(html, body)::-webkit-scrollbar-track {
  background-color: var(--border_color);
  box-shadow: none;
  border-radius: 30px;
}

:not(html, body)::-webkit-scrollbar-thumb {
  background-color: var(--bg_color2);
  border-radius: 30px;
}

.v-tooltip .app__tooltip.v-overlay__content {
  background: var(--bg_color6);
  font-family: "Red Hat Display", sans-serif !important;
  font-weight: normal;
  color: var(--text_dark3);
  font-weight: 600;
  font-size: var(--text_sm);
  &.action {
    background-color: var(--success_color);
    color: var(--text_light);
    &.danger {
      background-color: var(--danger_color);
    }
  }
  &.base__tooltip {
    background-color: var(--text_dark2);
    color: var(--text_light);
    border-radius: 8px;
    min-height: 3.4rem;
    min-width: 6.6rem;
    font-size: var(--text_xs);
    text-align: center;
    &::before {
      content: "";
      position: absolute;
      background-color: inherit;
      width: 12px;
      height: 12px;
      bottom: -6px;
      left: 50%;
      border-bottom-right-radius: 3px;
      transform: translateX(-50%) rotate(45deg);
    }
  }
  // opacity: 0.9;
}

body,
html {
  &:has(.kornerLoader),
  &:has(.hiddenBodyScroll) {
    &::-webkit-scrollbar {
      width: 0 !important;
      height: 0 !important;
    }
  }
}

body,
.v-application.v-theme--light {
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--bg_color);
  font-size: 1.6rem;

  &::-webkit-scrollbar-thumb {
    background-color: var(--bg_color2);
  }
  // forms and inputs
  .form {
    // inputs
    input,
    select,
    textarea {
      border: none;
      outline: none !important;
      border-radius: 8px;
      font-weight: 400 !important;
      box-shadow: none !important;
      min-height: 51.13px;
      width: 100%;
      transition: all 0.25s ease-in-out;
      padding-inline: 12px;

      &::placeholder {
        font-style: normal;
        font-weight: 500;
        font-size: 10px;
      }
    }

    select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: rgba(0, 98, 255, 0.06) url(/public/svgs/arrow_down.svg) !important;
      background-position: bottom 15px right 15px !important;
      background-repeat: no-repeat !important;
      cursor: pointer;
      font-size: 12px;
      font-weight: 500;
      letter-spacing: -0.011em;
      line-height: 24px;
      text-align: left;
    }

    textarea {
      resize: none;
      min-height: 67.13px;
    }
  }
}
